<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShoppingCart</display-name>
  <description>ShoppingCart</description>
  
  <context-param>
  <param-name>USERID</param-name>
  <param-value>PASSWORD</param-value>
  </context-param>
  
  
    
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.niit.ShoppingCart.Servlet.LoginServlet</servlet-class>
  </servlet>
  
  
   
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/UserID/WebContent/Password</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
   
   <!-- <welcome-file>login.html</welcome-file> -->
   
   <welcome-file>online.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
     
  </welcome-file-list>
</web-app>